@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    
    #logo {
        margin: 0;
        position: relative;
        top: 52px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
    }
    .navigation {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: white;
        color: #4dbbc4;
    }   
    li {
      justify-content: center;
    }
    li a {
        display: block;
        color: #4dbbc4;
        text-align: center;
        padding: 12px 32px;
        text-decoration: none;
        font-weight: 500;
    }
    li a:hover {
        background-color: #4dbbc4;
        font-weight: 500;
        color: white;
    }
    h2 {
        text-align: center;
    }
    
.weather-story {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;  
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 20px #C0C0C0;
}

.left-text {
    padding: 20px;
}

.img-right {
    padding: 20px;
    width: 100%;
}


.city-card-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;  
    text-align: center;
}

.city-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;  
    text-align: center;
    grid-template-areas:
        "lt"
        "if";
    vertical-align: top;
}
    
.text-flip {
    grid-area: lt;
}
.img-flip {
    grid-area: if;
}

    footer {
        position: relative;
        top: 0px;
        display: inline-block;
        margin: auto;
        text-align: center;
        width: 100%;
        color: white;
        background-color: #4dbbc4;
        height: 100px;
        padding: 20px; 
    }
}