/* This main css file contains the default rules and is geared toward the small/phone view */

* {margin: 0; box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

header {
    box-shadow: 0px 0px 20px #C0C0C0;
}

body {
    /* font-family: "Nimbus Sans light", sans-serif; */
    font-family: "Fira Sans Condensed", sans serif;
    font-size: 16px;
    padding: 12px;
}
.logo {
    margin: 0 auto;
    align-content: center;
    background-color: #4dbbc4;
}
#logo {
        margin: 0;
        position: relative;
        top: 32px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
    }
header h1 {
    /* font-family: "Nimbus Sans Bold", sans-serif; */
    font-family: "Fira Sans Condensed", sans serif;
}
button {
    width: 100%;
    background-color: #4dbbc4;
    color: white;
    border: none;
}
button:hover {
    background-color: white;
    border: none;
    color: #4dbbc4;
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #4dbbc4;
        color: white;
    }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 300;
}
li a:hover {
    background-color: white;
    color: #4dbbc4;
}
main h2 {
    /* font-family: "Nimbus Sans Bold", sans-serif; */
    font-family: "Fira Sans Condensed", sans-serif;
    text-align: center;
    letter-spacing: 1px;
}
h3 {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.weather-story {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;  
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 20px #C0C0C0;
}

.left-text {
    padding: 20px;
}

.img-right {
    padding: 20px;
    width: 100%;
}


.city-card-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;  
    text-align: center;
    align-items: center;
}

.city-card {
    box-shadow: 0px 0px 20px #C0C0C0;
    line-height: 1.5em;
}

footer {
    top: 300px;
    margin: auto;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #4dbbc4;
    height: 100px;
    padding: 20px;    
    }


@media only screen and (max-width: 37.5em) {
    .navigation { list-style: none; padding-left: 0; }
.navigation li { display: none; }

.navigation.responsive { 
    position: relative; 
}
.navigation.responsive li {
    color: white;
    display: block; 
    width: 100%; 
    margin: 2px 0; 
}
.navigation.responsive li a { 
    padding: 1rem; 
    text-align: center;  
    display: block; 
    text-decoration:none;
}
.navigation.responsive li a:hover { 
    font-weight: 600;
}
}
