/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



h1 {
    font-family: "Shrikhand", sans-serif;
    color: rgba(210, 207, 194, 1);
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 1.5em;
}
h3 {
    font-family: "Roboto Condensed", sans-serif; 
    font-weight: 700;
    color: rgba(17, 63, 56, 1);
    text-transform: uppercase;
}
p {
    font-family: "Roboto Condensed", sans-serif; 
    color: rgba(17, 63, 56, 1);
}
li {
    font-family: "Roboto Condensed", sans-serif; 
    color: rgba(17, 63, 56, 1);
}
a {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.button {
    border: 2px solid rgba(248, 78, 0, 1);
    padding: 5px 10px 5px 10px;
}
.button:hover {
    border: 2px solid rgba(248, 78, 0, 0);
    background-color: rgba(248, 78, 0, 0.6);
    color: white;
}
.background {
    width: 100%;
    height: 600px;
    z-index: -1;
}
.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
}
.background-short {
    width: 100%;
    height: 200px;
    z-index: -1;
    border-bottom: 4px solid rgba(17, 63, 56, 1);
}
.background-short img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100;
    height: 100px;
    width: 100%;
    background-color: rgba(17, 63, 56, 0.8);
    -webkit-backdrop-filter: saturate(120%) blur(10px);
    backdrop-filter: saturate(120%) blur(10px);
}
.nav-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "lg lg lg"
        "btn btn btn";
    align-content: space-around;
    text-align: center;
}
.menu-border {
    position: fixed;
    width: 100%;
    top: 54px;
    left: 0px;
    z-index: 100;
    border-bottom: 2px solid rgba(210, 207, 194, 1);
}
.logo {
    height: 30px;
    margin-top: -4px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.logo:hover {
    opacity: 0.5;
}

button {
    width: 100%;
    font-size: 1.5em;
    background-color: rgba(17, 63, 56, 0);
    color: rgba(210, 207, 194, 1);
    border: none;
    transform: scale(2,1);
    -webkit-transform:scale(2,1);
    grid-area: btn;
    padding-top: 20px;
}
#logo  {grid-area: lg; padding-top: 20px;}
#menu1 {display: none;}
#menu2 {display: none;}
#menu3 {display: none;}
#menu4 {display: none;}
#menu5 {display: none;}

.slider {
    position: absolute;
    top: 360px;
    left: 0;
    height: 240px;
    width: 100%;
    background-color: rgba(17, 63, 56, 0.8);
    -webkit-backdrop-filter: saturate(120%) blur(10px);
    backdrop-filter: saturate(120%) blur(10px);
}
.slider h1 {
    text-align: center;
}
.slider p {
    color: rgba(210, 207, 194, 1);
    text-align: center;
    padding-bottom: 40px;
    font-size: 0.85em;
}
.slider a {
    color: rgba(210, 207, 194, 1);
    text-align: center;
}
#break {
    display: static;
}
.arrows {
    position: absolute;
    top: 460px;
    width: 100%;
    height: auto;
}
.arrows img:hover { 
    opacity: 0.6;
}
.arrows img:active {
    opacity: 1;
}
.arrow-lt {
    position: absolute;
    left: 10px;
    z-index: 100;
    height: 40px;
}
.arrow-rt {
    position: absolute;
    right: 10px;  
    z-index: 100;
    height: 40px;
}

.shop {
    padding-top: 20px;
    width: 100%;
}
.shop h1 {
    text-align: center;
    color: rgba(17, 63, 56, 1);
    padding-bottom: 20px;
}
.products {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-column-gap: 50px;
    padding: 0px 20px 0px 20px;
}
.bike {
    position: relative;
    height: 480px;
}
.bike img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: absolute;
}
.bike h3:nth-child(even) {
    position: absolute;
    top: 200px;
}
.bike h3:nth-child(odd) {
    position: absolute;
    top: 200px;
    right: 0px;
    color: rgba(210, 207, 194, 1);
}
.bike ul {
    position: relative;
    top: 244px;
    list-style: none;
    padding-left: 0;
    text-align: center;
    border-top: 4px solid rgba(17, 63, 56, 1);
}
.bike li:first-child {
    padding-top: 20px;
}

.tech-specs h3 {
    text-align: center;
    color: rgba(210, 207, 194, 1);
}
.specs {
    top: 200px;
}
.specs ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 20px;
    text-align: center;
}
.specs p {
    padding-top: 20px;
}

.trail-map {
    position: relative;
    height: 400px;
}
.trail-map img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    border: 2px solid rgba(210, 207, 194, 1);
}
.trail-map h3:nth-child(even) {
    position: absolute;
    top: 200px;
}
.trail-map h3:nth-child(odd) {
    position: absolute;
    top: 200px;
    right: 0px;
    color: rgba(210, 207, 194, 1);
}
.trail-map ul {
    position: relative;
    top: 244px;
    list-style: none;
    padding-left: 0;
    text-align: center;
    border-top: 4px solid rgba(17, 63, 56, 1);
}
.trail-map li:first-child {
    padding-top: 20px;
}

.table {
    padding: 0px 20px 50px 20px; 
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: left;
}
th, td {
    padding: 0px 10px 0px 10px;
}
th {
    height: 60px;
    font-family: "Roboto Condensed", sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(210, 207, 194, 1);
    color: white;
}
td {
    height: 50px;
    font-family: "Roboto Condensed", sans-serif; 
    font-weight: 200;
    color: rgba(17, 63, 56, 1);
    text-transform: uppercase;
    border-bottom: 4px solid rgba(210, 207, 194, 0.2);
}
tr:hover {
    background-color: rgba(210, 207, 194, 0.2);
}

.divider {
    width: 100%;
    border-top: 4px solid rgba(210, 207, 194, 1);
}
.paragraph {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.paragraph h1 {
    color: rgba(17, 63, 56, 1);
    padding-top: 30px;
}
.paragraph p {
    padding-bottom: 20px;
}
.paragraph a {
    color: rgba(17, 63, 56, 1);
}

.gallery {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-row-gap: 10px;
    width: 100%;
    z-index: -1;
}
.img-link {
    height: 72px;
    position: relative;
}
.img-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.img-link a {
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    background-color: rgba(248, 78, 0, 0.6);
    -webkit-backdrop-filter: saturate(120%) blur(10px);
    backdrop-filter: saturate(120%) blur(10px);
}
.img-link img:hover ~ a{
    top: 0;
    height: 100%;
    background-color: rgba(17, 63, 56, 0.8);
}
.img-link a:hover {
    top: 0;
    height: 100%;
    background-color: rgba(17, 63, 56, 0.8);
}
.img-link a h1{
    color: white;
}

.map-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
    grid-template-areas: 
        "if if if if"
        "hc1 hc1 hc1 hc1"
        "hc2 hc2 hc2 hc2";
    width: 100%;
    border-top: 4px solid rgba(17, 63, 56, 1);
    text-align: center;
}
.map-container iframe {
    width: 100%;
    height: 240px;
    grid-area: if;
    display: block;
}
.home-contact {
    padding: 20px 0px 20px 0px;
}
.home-contact a {
    color: rgba(17, 63, 56, 1);
}
.home-contact a:hover {
    color: rgba(17, 63, 56, 0.6);
}
.home-contact:nth-child(odd) {
    grid-area: hc1;
    border-top: 4px solid rgba(17, 63, 56, 1);
}
.home-contact:nth-child(even) {
    grid-area: hc2;
}

footer {
    display: block;
    position: relative;
    height: 120px;
    width: 100%;
    background-color: rgba(17, 63, 56, 1);
    text-align: center;
}
footer p {
    color: rgba(210, 207, 194, 1);
    font-size: 0.7em;
}
.footer-content {
    padding-top: 40px;
}

/*mobile menu*/

.blur-overlay {
    -webkit-filter: blur(8px);
    filter: blur(8px);
    transition: 0.4s; 
    z-index: 1;
}
.overlay { 
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgba(17, 63, 56, 0.8);
    overflow-x: hidden;
    transition: 0.4s; 
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}
.overlay a {
    padding: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.75em;
    color: rgba(0,90,94, 1);
    display: block; 
    transition: 0.3s;
    color: rgba(210, 207, 194, 1);
    letter-spacing: 4px;
}



/*MEDIUM*/

@media only screen and (min-width: 37.5em) {
    #break {
        display: none;
    }
    
    button {
        display: none;
    }
    .nav-content {
        margin-left: 20px;
        margin-right: 20px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
            "lg lg lg lg lg"
            "m1 m2 m3 m4 m5";
    }
    .nav-content a {
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        color: rgba(210, 207, 194, 1);
        letter-spacing: 4px;
        padding-top: 20px;
        text-align: center;
    }
    .nav-content a:hover {
        color: rgba(210, 207, 194, 0.5);
    }
    
    #logo  {grid-area: lg; display: block;}
    #menu1 {grid-area: m1; display: block;}
    #menu2 {grid-area: m2; display: block;}
    #menu3 {grid-area: m3; display: block;}
    #menu4 {grid-area: m4; display: block;}
    #menu5 {grid-area: m5; display: block;}
    
    .slider {
        top: 400px;
        height: 200px;
    }
    .slider p{
        font-size: 1em;
        padding-bottom: 20px;
    }
    .arrows {
        top: 470px;
    }
    .arrow-lt {
        left: 20px;
        height: 60px;
    }
    .arrow-rt {
        right: 20px;  
        height: 60px;
    }
    
    .products {
        padding: 0px 150px 0px 150px;
    }
    
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0px 0px;
    }
    .img-link {
        height: 240px;
    }
    .img-link a {
        height: 30%;
        top: 35%;
    }
    
    th, td {
        padding: 0px 20px 0px 20px;
    }   
    
    .paragraph {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
    
    .map-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "if if if if"
            "hc1 hc1 hc2 hc2";
    }
    .home-contact {
        padding: 20px 0px 20px 0px;
    }
    .map-container iframe {
        border-bottom: 4px solid rgba(17, 63, 56, 1);
    }
    .home-contact:nth-child(odd) {
        border-top: 4px solid rgba(17, 63, 56, 1);
    }
    .home-contact:nth-child(even) {
        border-top: 4px solid rgba(17, 63, 56, 1);
    }
}


/*LARGE*/

@media only screen and (min-width: 64em) {
    h1 {
        font-size: 2em;
    }
    
    .nav {
        height: 60px;
    }
    .logo {
        margin-top: -5px;
    }
    .nav-content {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
            "lg m1 m2 m3 m4 m5";
    }
    .nav-content a {
        text-align: right;
        padding: 20px 0px 20px 0px;
    }
    .menu-border {
        display: none;
    }
    .nav-content {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
            "lg m1 m2 m3 m4 m5;
    }
    
    .slider p {
        margin-top: -10px;
    }
    
    .products {
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 50px 0px 50px;
}
    
    .table {
        padding: 0px 50px 50px 50px;
    }
    
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .map-container {
        grid-template-columns: repeat(4, 1fr);
        grid-row: auto;
        grid-template-areas: 
            "if if hc1 hc2";
    }
    .map-container iframe {
        border-right: 4px solid rgba(17, 63, 56, 1);
        border-bottom: none;
    }
    .home-contact {
        padding: 60px 0px 60px 0px;
    }
    .home-contact:nth-child(odd) {
        border-left: 4px solid rgba(17, 63, 56, 1);
        border-top: none;
    }
    .home-contact:nth-child(even) {
        border: none;
    }
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
